{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <form action="/signup" method="POST">
        <div class="mb-3 mt-3">
            <label for="username">{{ _('User:') }}</label>
            <input type="text" class="form-control" id="userid" name="userid" required>
        </div>
        <div class="mb-3">
            <label for="name">{{ _('Name:') }}</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email">{{ _('E-mail:') }}</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="mobile" hidden>{{ _('Mobile:') }}</label>
            <input type="tel" class="form-control" id="mobile" name="mobile" required>
        </div>
        <div class="mb-3">
            <label for="password">{{ _('Password:') }}</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="repass">{{ _('Re-type Password:') }}</label>
            <input type="password" class="form-control" id="repass" name="repass" required>
        </div>
        <div class="mb-3">
            <label for="lang_selection">{{ _('language:') }}</label>
            <select name="lang_selection" id="lang_selection" required>
                <option value="en">English</option>
                <option value="pt">Português</option>
            </select>
        </div>
        <button class="btn btn-outline-primary" id="signup">Sign Up'</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js"></script>

<script>
  var input = document.querySelector("#mobile");
  window.intlTelInput(input, {
    separateDialCode: true,
    initialCountry: "auto",
    geoIpLookup: function(success, failure) {
      $.get("https://ipapi.co/json", function(response) {
        var countryCode = response.country_code;
        success(countryCode);
      }, "json");
    },
  });
</script>

{% endblock %}